# Format: Rule_Name,Protocol,Src_IP,Dst_IP,Src_Port,Dst_Port,Action
HTTP_ALLOW,TCP,*,*,*,80,FORWARD
HTTPS_ALLOW,TCP,*,*,*,443,FORWARD
DNS_ALLOW,UDP,*,*,*,53,FORWARD
SSH_BLOCK,TCP,*,*,*,22,DROP
DEFAULT,*,*,*,*,*,FORWARD
